<h1>Login Form:</h1>

<%= form_tag "/login" do %>
<label>Username:</label>
<%= text_field_tag :username %>

<label>Password:</label>
<%= password_field_tag :password%>

<%= submit_tag "Login" %>

<% end %>
<hr>
Don't have an account?  <%= link_to "Sign Up", new_user_path%>