<h1>You made it to LOGIN:</h1>

<h1>Login Form:</h1>

<%= form_for @user do |f| %>
<%= f.label "Username" %>
<%= f.text_field :name %><br><br>

<%= f.label "Email"%>
<%= f.text_field :email%><br><br>

<%= f.label "Password" %>
<%= f.text_field :password_digest%><br><br>
<%= f.submit "Login"%>

<% end %>