<h1>User Dashboard</h1>
<%= link_to "Logout",  logout_path, method: :post %>
<%= link_to "Edit Profile", edit_user_path(@current_user)%>
<%= link_to "Book Collection", user_books_path(@current_user) %>
<%= link_to "Reviews", user_reviews_path(@current_user) %>


<hr>

<h3>Welcome: <%= @current_user.username %></h3>





















<hr>

<h3><%= button_to "Delete Profile", user_path(@current_user), method: :delete, data: 
    {confirm: "Your profile will be gone forever...are you sure?"}%></h3>
