<h1>Welcome to Booklist!</h1>
<p>Make yourself at home in our cozy little app that was created to help you keep track of all the book titles in your collection.</p>

<h1>Choose One of the Following:</h1>


<% if !@current_user.nil? %>
    <h1><%= @current_user.username %></h1>
    <h2>Email: <%= @current_user.email %></h2>
<% else %>
<%= link_to 'Log in with Google', '/auth/google_oauth2'%>
<% end %>

<br>



<b><%= link_to "Sign Up", new_user_path%><b><br>

<b><%= link_to "Login", login_path %><b><br>

