<h1><%= @current_user.username%>'s Book Collection</h1>

<%= link_to "Add a New Book", new_user_book_path(@current_user) %>
<%= link_to "Books Not Read", not_read_path(@current_user)%>
<%= link_to "User Dashboard", user_path(@current_user) %>

<hr class="rounded">

<ul>
    <% @books.each do |book| %>
        <li><%= link_to book.title, user_book_path(@current_user, book) %></li>
    <% end %>

</ul>