<h1>Add a Book to your List:</h1>
<%= link_to "User Dashboard", user_path(@current_user)%>
<hr class="rounded">
<%= form_for [@current_user, @book] do |f| %>

<%= f.label "Read It"%>
<%= f.check_box :read %>

<%= f.label "Currently in Collection"%>
<%= f.check_box :currently_own %><br><br>

<%= f.label "Book Title" %>
<%= f.text_field :title %><br><br>

<%= f.label "Author" %>
<%= f.text_field :author %><br><br>

<h3>Leave a Review?</h3>
<%= f.fields_for :reviews do |ff| %>
    <%= ff.hidden_field :user_id, value: @current_user.id %>

    <%= ff.label "Title" %>
    <%= ff.text_field :title %><br><br>

    <%= ff.label "Description" %><br>
    <%= ff.text_area :description %><br>

<% end %>

<%= f.submit "Place Book on My Shelf"%>

<% end %>