
<%= link_to "Edit Book", edit_user_book_path(@current_user, @book)%>
<%= link_to "User Dashboard", user_path(@current_user) %>
<%= link_to "Leave another Review?", new_user_review_path(@current_user)%>
<hr class="rounded">

<b><%= @book.title %></b><br>
By: <%= @book.author%><br>
<hr>

<h3>Your Reviews for this Book:</h3>
<ul>
    <% @book.reviews.each do |review| %>
        <li>
            <b><%= link_to review.title, user_review_path(@book, review) %></b> - <%= review.description %>
        </li>
    <% end %>

</ul>
<hr>
<%= button_to "Delete Book", user_book_path(@current_user, @book), method: :delete,
data: { confirm: "Delete this Book from your collection?" }%>