<h1>REVIEW NEW</h1> 

<%= form_for [@user, @review] do |f| %>
    <%= f.label "Choose a book to Review" %>
    <%= f.collection_select(:book_id, Book.all, :id, :title)%><br><br>

    <%= f.label "Title" %>
    <%= f.text_field :title %><br><br>

    <%= f.label "Description" %>
    <%= f.text_area :description %><br>

    <%= f.submit "Submit Review"%>

<% end %>